<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" type="image/png" href="images/logo.png">
</head>
<body>
  <header>FISH STACK</header>
  <nav>
    <a href="/">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/fish" <%- title.substring(0,10) === 'Category: ' ? 'class="active"' : '' %>>ALL FISH</a>
    <% if (user) { %>
      <a href="/fish/new" <%- title === 'Add New Fish' ? 'class="active"' : '' %>>ADD FISH</a>
      <a href="/aquarium"<%- title === 'My Aquarium' ? 'class="active"' : '' %>>MY AQUARIUM</a>
      <a href="/logout" class="logout">LOG OUT</a>
    <% } else { %>
      <a href="/auth/google" class="login">LOG IN&nbsp;</a>
    <% } %>
  </nav>
  
  
  <main>