<head>
  <link rel="icon" type="image/png" href="images/logo.png">
</head>

<body style="background-color: rgb(210, 157, 244);">
  <h1><%= message %></h1>
  <h2><%= error.status %></h2>
  <pre><%= error.stack %></pre>
  <img src="/images/error.webp" id="diver-img" alt="cute diver">
</body>
