body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
} */

body > nav {
  grid-area: nav;
  background-color:grey;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px 0 30px;
  border-radius: 10px 10px 0 0;
  margin: 10px;
  margin-bottom: 0;
}

#categories-nav {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  margin-top: 0;
  border-radius: 0 0 10px 10px;
}

.login, .logout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: rgb(9, 82, 131);
}

#categories-nav > a {
  margin: 10px;
  color: rgb(41, 157, 234)
}



nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}


#categories {
  display: flex;
  justify-content: space-evenly;
}


table {
  font-size: 20px;
}

table thead th {
  padding: 10px;
}

table td {
  padding: 5px;
  text-align: center;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

th, td {
  background-color: #96D4D4;
  border-radius: 10px;
}





.fish-image {
  height: 200px;
  border-radius: 10px;
}

.fish-image-index {
  height: 150px;
  border-radius: 10px;
}