<%- include('../partials/header') %>

  <h1><%= title %></h1>
  <a href="/fish?category=goldfish-koi">GOLDFISH/KOI</a>
  <a href="/fish?category=community">COMMUNITY</a>
  <a href="/fish?category=cichlids">CICHLIDS</a>
  <a href="/fish?category=specialty">SPECIALTY</a>


<%- include('../partials/footer') %>